h3 ,p { margin-left:30px; }
h3 {margin-top:20px;}
body {font-size: 12px;font-family: malgun gothic, verdana, consolas;}
/* grid 내부 */
.pagination{height:26px;margin:14px 0 12px;line-height:normal;text-align:center}
.pagination a,.pagination strong{display:inline-block;position:relative;padding:3px 8px 4px;color:#333;font-size:12px;font-weight:bold;line-height:normal;text-decoration:none;vertical-align:middle}
.pagination strong{padding:3px 6px 4px;color:#ff1313;border:1px solid #d4d4d4;background:#e7e7e7}
.pagination .pre_end,.pagination .pre,.pagination .next,.pagination .next_end{overflow:hidden;width:33px;height:11px;padding:0;background:url(../img/sp_btn2.gif) no-repeat;font-size:0;line-height:999px;white-space:nowrap}
.pagination .pre_end{width:40px;margin-right:8px;background-position:-150px 0}
.pagination .pre{margin-right:10px;background-position:-100px 0}
.pagination .next{margin-left:10px;background-position:0 0}
.pagination .next_end{width:40px;margin-left:11px;background-position:-50px 0}

.pagination .pre_end, .pagination .pre, .pagination .next, .pagination .next_end {
    font-size:11px;
    line-height: 1.0em;
}
.code-layer {border-radius: 10px; border:1px solid #e3e3e3; padding:20px;color:#666; }